.about-us {
  margin: 30px;
}

.about-us__header {
  margin: 0;
  padding: 0;

  font-size: 25px;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item--ecology {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 7px;

      width: 32px;
      height: 37px;

      background-image: url("../../img/ecology.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__item--price {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;

      width: 47px;
      height: 27px;

      background-image: url("../../img/price.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__item--likes {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 7px;

      width: 34px;
      height: 27px;

      background-image: url("../../img/likes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__item--handmade {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../../img/handmade.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__item--russian-manufacturer {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -7px;

      width: 55px;
      height: 23px;

      background-image: url("../../img/russian-manufacturer.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__item--gift-package {
  position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../../img/gift-package.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}

.about-us__title {
  margin: 0;
  padding: 0;
  padding-top: 85px;

  font-size: 17px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .about-us {
    margin: 55px 50px 80px 50px;
  }
  .about-us__header {
    font-size: 43px;
  }
  .about-us__wrapper {
    display: flex;
    justify-content: left;
  }
  .about-us__item {
    width: 314px;
    margin-right: 20px;
  }
  .about-us__title {
    padding-top: 112px;

    font-size: 20px;
    line-height: 22px;
  }
  .about-us__item--ecology {
    &::before {
      top: 50px;
    }
  }
  .about-us__item--price {
    &::before {
      top: 58px;
    }
  }
  .about-us__item--likes {
    &::before {
      top: 63px;
    }
  }
  .about-us__item--handmade {
    &::before {
      top: 50px;
    }
  }
  .about-us__item--russian-manufacturer {
    &::before {
      top: 60px;
    }
  }
  .about-us__item--gift-package {
    &::before {
      top: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__item {
    width: 330px;
    margin-right: 20px;
  }
}
