.page-header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.free-delivery {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .page-header__logo {
    display: block;
    order: 1;
    flex-grow: 1;

    width: 315px;
    padding-left: 50px;
    padding-top: 21px;
    padding-bottom: 21px;

    border-bottom: 1px solid #ececec;
  }

  .page-header__logo img {
    width: 113px;
    height: auto;
  }

  .free-delivery {
    display: flex;

    justify-content: flex-end;
    order: 4;

    padding-top: 22px;
    padding-right: 50px;

    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: auto;
    display: block;
    order: 2;
    flex-grow: 1;

    padding-left: 36px;

    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ececec;
  }

  .page-header__logo img {
    width: 149px;
    height: auto;
  }
}
