.index-catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.index-catalog__item a {
  display: block;
  padding: 30px 0 30px 30px;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  text-decoration: none;
}

.index-catalog__item--interior {
  background-color: $bg-lightgreen;
  position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: 35px;

      width: 40px;
      height: 62px;

      background-image: url("../../img/interior.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
}

.index-catalog__item--toys {
  background-color: $bg-darkgreen;
  position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;

      background-image: url("../../img/toy.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      color: black;
    }
}


@media (min-width: $tablet-width) {
  .index-catalog__list {
    display: flex;
    flex-direction: row;

    margin-left: 50px;
    margin-right: 50px;
  }
  .index-catalog__item {
    width: 100%;
  }
  //.wave {
  //  position: relative;
  //
  //  height: 20px;
  //}
  //.wave {
  //  &::before {
  //    content: "";
  //    position: absolute;
  //    left: 0;
  //    bottom: 0;
  //    right: 0;
  //    background-repeat: repeat;
  //    height: 10px;
  //    background-size: 20px 40px;
  //    background-image: radial-gradient(circle at 10px -5px, transparent 12px, aquamarine 13px);
  //  }
  //}
  //.wave {
  //  &::after {
  //    content: "";
  //    position: absolute;
  //    left: 0;
  //    bottom: 0;
  //    right: 0;
  //    background-repeat: repeat;
  //    height: 15px;
  //    background-size: 40px 40px;
  //    background-image: radial-gradient(circle at 10px 15px, aquamarine 12px, transparent 13px);
  //  }
  //}
}


