.order-form__header {
  padding: 30px 30px 0 30px;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $bg-lightblack;
}

fieldset {
  padding: 0;
  margin: 0 30px;

  border: none;
  border-top: 1px solid $bg-lightgreen;
}

.order-form__type {
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;

}

.order-form__title {
  overflow: hidden;

  padding: 0;
  margin: 0;
  width: 62px;
  //margin-bottom: 12px;

  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  color: $bg-lightgreen;

  //Ещё один вариант как сделать линии (если не использовать fieldset)
  //&::after {
  //  content: "";
  //  position: relative;
  //  display: inline-block;
  //
  //  width: 100%;
  //  height: 1px;
  //  margin-right: -100%;
  //  right: -25px;
  //
  //  vertical-align: middle;
  //  background-color: $bg-lightgreen;
  //}
}

.title__desktop {
  display: none;
}

.order-form__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.order-form__item {
  padding: 0;
  margin: 0;

  font-size: 17px;
  line-height: 18px;
}

.order-form__label {
  position: relative;
  display: inline-block;
}

.order-form__label__radio {
  cursor: pointer;

  margin-top: 10px;
  padding-top: 12px;
  padding-left: 60px;
  min-height: 40px;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    box-sizing: border-box;

    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $bg-lightblack;
    border-radius: 50%;
  }
}

.order-form__label__radio {
  &:hover {
    &::before {
      border: 2px solid $bg-lightgreen;
    }
  }
  &:active {
    &::before {
      border: 2px solid #c7c7c7;
    }
  }
}

.order-form__radio:checked {
  & + span {
    &::after {
      content: "";
      position: absolute;

      top: 13px;
      left: 13px;

      width: 15px;
      height: 15px;

      border-radius: 50%;
      background-color: $bg-lightgreen;
    }
  }
}

.order-form__color {
  padding-bottom: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.order-form__label__сheck {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding-left: 60px;
  min-height: 40px;
  margin-top: 20px;
  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;

    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $bg-lightblack;
  }
}

.order-form__label__сheck {
  &:hover {
    &::before {
      border: 2px solid $bg-lightgreen;
    }
  }
  &:active {
    &::before {
      border: 2px solid #c7c7c7;
    }
  }
}

.order-form__checkbox:checked {
  & + span {
    &::after {
      content: "";
      position: absolute;

      top: 13px;
      left: 10px;

      width: 22px;
      height: 16px;

      background-image: url("../../img/tick.svg");
      background-repeat: no-repeat;
    }
  }
}

.order-form__label__name {
  margin-top: 18px;
  width: 100%;
}

.order-form__description {
  padding: 0;
  margin: 0;
}

.order-form__text {
  width: 100%;
  height: 50px;

  border: none;
  border-bottom: 2px solid #000000;

  font-family: "Open Sans";
  font-size: 17px;
  line-height: 18px;
  color: #444444;

  outline: none;
  &::placeholder {
    font-family: "Open Sans";
    font-size: 17px;
    color: #444444;
    opacity: 0.3;
  }
  &:hover {
    border-bottom: 2px solid #62d1ba;
  }
  &:focus {
    border-bottom: 2px solid #62d1ba;
    color: #444444;
  }
}

.order-form__label__family {
  margin-top: 25px;
  width: 100%;
}

.order-form__label__patronymic {
  margin-top: 25px;
  width: 100%;
}

.order-form__phone {
  margin-top: 32px;
}

.order-form__description--phone {
  position: relative;
}

.order-form__description__phone-icon {
    position: absolute;

    bottom: 17px;
    right: 5px;

    width: 25px;
    height: 24px;

    opacity: 0.2;

    fill: #000000;
}

.order-form__description--phone:hover {
  &:hover .order-form__description__phone-icon {
    opacity: 1;

    fill: #62d1ba;
  }
  &:focus .order-form__description__phone-icon {
    fill: #62d1ba;
  }
}

.order-form__title__phone {
  margin-bottom: 9px;
}

.order-form__email {
  margin-top: 32px;
}

.order-form__title__email {
  width: 80px;
  margin-bottom: 9px;
}

.order-form__description--email {
  position: relative;
}

.order-form__description__email-icon {
    position: absolute;

    bottom: 17px;
    right: 5px;

    width: 32px;
    height: 21px;

    opacity: 0.2;

    fill: #000000;
  }

.order-form__description--email:hover {
  &:hover .order-form__description__email-icon {
    opacity: 1;

    fill: #62d1ba;
  }
  &:focus .order-form__description__email-icon {
    fill: #62d1ba;
  }
}

.order-form__optionally {
  margin-top: 32px;
}

.order-form__additionally {
  margin: 0;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  min-height: 140px;
  max-height: 400px;
  resize: vertical;
  outline: none;

  box-sizing: border-box;
  border: 2px solid $bg-lightblack;

  font-family: "Open Sans";
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  &::placeholder {
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
  &:hover {
    border: 2px solid #62d1ba;
  }
  &:focus {
    border: 2px solid #62d1ba;
    color: #444444;
  }
}

.order-form__always {
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.order-form__required__fields {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.order-form__send {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 25px;

  text-decoration: none;
  &:hover {
    background-color: $bg-lightblack;
    color: #ffffff;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.order-form__send__wrapper {
  padding: 0 30px;
}


@media (min-width: $tablet-width) {
  .order-form {
    padding: 0;
  }

  .order-form__header {
    padding: 80px 50px 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__type {
    margin: 0;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .order-form__wrapper {
    display: flex;
    flex-direction: row;
  }

  .title__desktop {
    display: block;

    min-width: 135px;
    margin-top: 45px;
  }

  fieldset {
    margin: 0;
    padding: 0 50px;

    border: none;
  }

  legend {
    display: none;
  }

  .order-form__item {
    font-size: 19px;
    margin-left: 30px;
  }

  .order-form__label__radio {
    display: flex;
    align-items: center;

    padding-top: 0;
    margin-top: 25px;

    padding-left: 80px;
    min-height: 50px;

    &::before {
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;
    }
  }

  .order-form__radio:checked {
    & + span {
      &::after {
        top: 15px;
        left: 15px;

        width: 20px;
        height: 20px;
      }
    }
  }

  .order-form__color {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: $bg-lightgray;
  }

  .list__color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .order-form__label__сheck {
    width: 150px;
  }

  .order-form__label__сheck {
    padding-left: 80px;
    min-height: 50px;
    margin-top: 25px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;

      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      border: 2px solid $bg-lightblack;
    }
  }

  .order-form__checkbox:checked {
    & + span {
      &::after {
        content: "";
        position: absolute;

        top: 13px;
        left: 10px;

        width: 33px;
        height: 22px;
      }
    }
  }

  .order-form__list {
    width: 100%;
  }

  .order-form__FIO {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .order-form__text {
    box-sizing: border-box;
    padding-left: 15px;

    font-size: 19px;
    &::placeholder {
      font-family: "Open Sans";
      font-size: 19px;
      color: #444444;
      opacity: 0.3;
    }
    &:focus {
      padding-left: 15px;
    }
  }

  .order-form__description__phone-icon {
    right: 25px;
  }

  .order-form__description__email-icon {
    right: 20px;
  }

  .order-form__label__name {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 25px;
  }

  .order-form__description {
    margin-left: 30px;
    width: 100%;
  }

  .order-form__phone {
    padding-top: 25px;
    margin-top: 0;
    background-color: $bg-lightgray;
  }

  .order-form__description--phone {
    padding-top: 25px;
  }

  .order-form__text__background {
    background-color: $bg-lightgray;
  }

  .order-form__email {
    margin-top: 0;
    padding-bottom: 50px;
    background-color: $bg-lightgray;
  }

  .order-form__description--email {
    padding-top: 25px;
  }

  .order-form__text__input {
    background-color: $bg-lightgray;
  }

  .order-form__optionally {
    margin-top: 0;
    padding-top: 25px;
  }

  .order-form__additionally {
    margin: 0;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    min-height: 140px;

    box-sizing: border-box;
    border: 2px solid $bg-lightblack;
    &::placeholder {
      font-family: "Open Sans";
      font-size: 17px;
      line-height: 18px;
      color: #444444;
      opacity: 0.3;
    }
    &:hover {
      border: 2px solid #62d1ba;
    }
    &:focus {
      border: 2px solid #62d1ba;
      color: #444444;
    }
  }

  .order-form__additionally {
    margin-top: 25px;
    font-size: 19px;
    &::placeholder {
      font-size: 19px;
    }
  }

  .order-form__send__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__send {
    order: 1;

    margin-top: 50px;
    margin-bottom: 50px;
    width: 230px;
  }

  .order-form__always {
    order: 2;

    margin-top: 0;
  }

  .order-form__required__fields {
    font-size: 17px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .order-form__background {
    background-color: $bg-lightgray;
  }
  .order-form__header {
    display: flex;

    margin: 0 auto;
    max-width: 700px;
  }
  .order-form__item {
    margin-left: 40px;
  }
  .order-form__description {
    margin-left: 40px;
    max-width: 700px;
  }
  .item__FIO {
    max-width: 700px;
  }
  .order-form__send__wrapper {
    display: flex;

    margin: 0 auto;
    max-width: 700px;
  }

}
