.page-main {
  background-image: url("../img/hero-mobile.png");
  background-position: center -15px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}

.page-main__header {
  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .page-main {
    background-image: url("../img/hero-desktop.png");
    background-position: center -35px;
  }
  .page-main__header {
    padding-top: 120px;
    margin-bottom: 372px;
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }
}
