.page-main__wrapper {
  background-image: url("../../img/hero-mobile.png");
  background-position: center -15px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}

.page-main__header {
  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .page-main__wrapper {
    position: relative;
    z-index: 1;

    margin-top: -47px;

    background-image: url("../../img/hero-desktop.png");
    background-position: center 0;
  }
  .page-main__header {
    padding-top: 155px;
    padding-bottom: 372px;
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }
}


@media (min-width: $desktop-width) {
  .page-main__header {
    padding-top: 155px;
    padding-bottom: 358px;
    width: 620px;

    font-size: 53px;
    line-height: 57px;
  }
}
