.popular {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.popular__title {
  margin: 0;

  font-size: 25px;
}

.popular__item-week {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  font-size: 17px;
  line-height: 20px;
  color: $bg-lightgreen;
}

.popular__description {
  margin: 0;
  padding: 0;
  margin-top: 30px;

  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: $bg-lightblack;
}

.popular__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;

  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: $bg-lightblack;
}

.popular__field {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 8px;

  border-bottom: 1px solid #ececec;
}

.popular__value {
  padding-top: 10px;
  padding-bottom: 8px;

  border-bottom: 1px solid #ececec;
}

.popular__item-picture-mobile {
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.popular__item-picture {
  display: none;
}

.popular__item-image {
  display: block;
  margin: auto;
  padding: 0;

  vertical-align: top;
}

.popular__price {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  color: $bg-lightblack;
  text-align: center;
}

.popular__send {
  width: 100%;
  margin-bottom: 30px;
}


@media (min-width: $tablet-width) {
  .popular {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .popular__header {
    display: flex;
    justify-content: space-between;
  }
  .popular__title {
    font-size: 43px;
  }
  .popular__item-week {
    padding-right: 25px;

    text-align: center;
  }
  .popular__content {
    display: flex;
    margin-bottom: 50px;
  }
  .popular__wrapper {
    margin-right: 44px;
  }
  .popular__description {
    margin-top: 50px;

    font-size: 17px;
    line-height: 30px;
  }
  .popular__item-picture {
    padding: 0;
    margin: 0;
    margin-top: 55px;
  }
  .popular__list {
    margin-top: 38px;
  }
  .popular__item-picture-mobile {
    display: none;
  }
  .popular__price {
    margin-top: 54px;
    margin-bottom: 30px;

    font-size: 20px;
  }
  .popular__send {
    margin: 0;
  }
  .popular__item-picture {
    display: block;

    flex-shrink: 0;
  }
}


@media (min-width: $desktop-width) {
  .popular {
    position: relative;
  }
  .popular__header {
    padding-top: 53px;
    justify-content: left;
  }
  .popular__title {
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }
  .popular__item-week {
    position: absolute;
    left: 0;

    order: 1;

    padding-top: 10px;
    width: 175px;
  }
  .popular__content {
    width: 290px;
  }
  .popular__wrapper {
    margin: 0;
  }
  .popular__list {
    margin-top: 50px;
  }
  .popular__price{
    margin-top: 110px;
  }
  .popular__item-picture img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 525px;
    height: 636px;

    flex-shrink: 1;
  }
}
