.wavy-line {
  width: 100%;
  height: 6px;

  background-image: url("../../img/zigzag-line.svg");
}

@media (min-width: $tablet-width) {
  .wavy-line {
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .wavy-line {
    margin-right: 50px;
    margin-left: 50px;
    width: 1050px;
    height: 23px;

    background-size: cover;
    background-repeat: no-repeat;
  }
}
